@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
@model IEnumerable<WADProject.Models.logsModel>
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blood Bank Managment System</title>
    <link rel="stylesheet" href="~/css/style.css">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/BB_favicon.png">
    <!--         -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>

<body>
    <header>
        <!--inline -->
        <img src="~/assets/images/logo.png" alt="Logo" style="height: 60%; width: 2.8%;padding : 9px 0px 0px 5px; margin-bottom: -2px">
        <h2>
            Blood Bank Managment
        </h2>
        <img src="~/assets/images/person-circle-sharp.svg"
            style="padding : 8px 0.5px 0px 61%;margin-bottom: -5px;">
        <p id="sample-user">Sample User</p>

    </header>
      <div class="full-page" id="blur">
        <div class="center">
<div class="navbar">
                <nav>
                    <a class="navitem" href="~/Home/Donor">Donor</a>

                    <a class="navitem" href="~/Home/Recipient">Recipient</a>

                    <a class="navitem" href="~/Home/Blood_collection">Blood Collection</a>

                    <a class="navitem" href="~/Home/Blood_request">Blood Request</a>

                    <a class="navitem" href="~/Home/Blood_issued">Blood Issued</a>

                    <a class="navitem" href="~/Home/User_accounts">User Accounts</a>

                    <a class="navitem bb" href="~/Home/User_logs">User Logs</a>
                </nav>
            </div>
            <hr id="hr1" size="1" width="100%" />
            <br><br>

<div class="tableheader">
                <p id="table-p">User Logs Table</p>
            </div>
            <hr id="hr2" size="1" width="100%" />
            <div class="tblbox">
                <br> <div style="height:12px "></div>
                <div id="utility">
                    <button class="redbtn" onclick="" style="width:90px"> <img src="~/assets/images/trash-sharp.svg"> Clear Data</button>
                    <input type="text" placeholder=" Search" style="float:right; height: 30px;">
                </div>
                <table>
                    <tr>
                        <th>Account Name</th>
                        <th>Date</th>
                        <th>Login Time</th>
                        <th>Logout Time</th>
                    </tr>
                    @if(Model != null)
                     {
                         @foreach (var item in Model) 
                        {   
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AccName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AccName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.loginTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.logoutTime)
                                </td>
                            </tr>
                         }
                     }
                     else{
                         <tr> 
                             <td> Their is no data in this table</td>
                         </tr>
                     }
                </table>
            </div>
   </div>
 </div>
 
    <script src="~/js/scripts.js"></script>
</body>

</html>