<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blood Bank Managment System</title>
    <link rel="stylesheet" href="~/css/style.css">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/BB_favicon.png">
    <!--         -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>

<body>
    
    <header>
        <!--inline -->
        <img src="~/assets/images/logo.png" alt="Logo" style="height: 70%; width: 2.8%;padding : 9px 0px 0px 5px; margin-bottom: -1px">
        <h2>
            Blood Bank Managment
        </h2>
        <img src="~/assets/images/person-circle-sharp.svg"
            style="padding : 8px 0.5px 0px 55%;margin-bottom: -5px;">
        <p id="sample-user">Sample User</p>
    </header>
      @RenderBody()
    <script src="~/js/scripts.js"></script>
    @*@RenderSectionAsync("Scripts",required: false)*@
</body>

</html>
